<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>AntonBanking</display-name>	

	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.antonbanking.servlet.AdminServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>com.antonbanking.servlet.AddUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountsServlet</servlet-name>
		<servlet-class>com.antonbanking.servlet.AccountsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddAccountServlet</servlet-name>
		<servlet-class>com.antonbanking.servlet.AddAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyTransactionServlet</servlet-name>
		<servlet-class>com.antonbanking.servlet.MyTransactionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddMyTransactionServlet</servlet-name>
		<servlet-class>com.antonbanking.servlet.AddMyTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/AddUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountsServlet</servlet-name>
		<url-pattern>/AccountsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAccountServlet</servlet-name>
		<url-pattern>/AddAccountServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyTransactionServlet</servlet-name>
		<url-pattern>/MyTransactionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMyTransactionServlet</servlet-name>
		<url-pattern>/AddMyTransactionServlet</url-pattern>
	</servlet-mapping>
</web-app>